* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
}

.check_form_area {
    background-color: #f0f0f0;
    margin-right: 20px;
    padding-right: 20px;
}

#main_form input {
    display: block;
    /* margin-bottom: 10px; */
    text-align: center;
    outline: none;
    border: none;
    
}

.select_line {
    margin-top: 10px;
    width: 20px;
    height: 20px;
}

label {
    height: 40px;
}

.line_img {
    width: 2px;
    height: 40px;
    margin-left: 70px;
}

.terminator {
    width: 200px;
    height: 40px;
    margin: 0;
    background-image: url("./img/terminator.png");
    background-size: 200px 40px;
}

.loop {
    width: 200px;
    height: 60px;
    background-image: url("./img/loop_start.png");
    background-size: 200px 60px;
}

.loop_end {
    width: 200px;
    height: 60px;
    background-image: url("./img/loop_end.png");
    background-size: 200px 60px;
}

.decision {
    width: 200px;
    height: 80px;
    background-image: url("./img/decision.png");
    background-size: 200px 80px;
}

.process {
    width: 200px;
    height: 40px;
    background-image: url("./img/process.png");
    background-size: 200px 40px;
}

.decision_container {
    display: flex;
    align-items: flex-start;
}